# ======================================================
# Pastas
# ======================================================

/.agent
/context-temp
/db
/debug
/plans
/brainstorms

# ======================================================
# Arquivos
# ======================================================

AGENTS.md
.gitignore
.env
.env.example
debug-connection.html
